.core {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 100px;
    gap: 100px;
  }
  @media (max-width: 992px) {
    .core {
      gap: 70px;
      color: rgba(249, 243, 243, 0.979)
    }
  }
  @media (max-width: 768px) {
    .core {
      width: unset;
      margin: unset;
      flex-direction: column;
      gap: unset;
      margin-bottom: 100px;
    }
  }